<%- include('./partials/headAgenda') %>
    <div id='calendar'></div>
    <form class="" name="loginForm" action="/agenda/save" method="POST">
        <button type="submit" id="RegisterButton" class="btn btn-primary m-2">Cadastrar</button>
    </form>
<%- include('partials/footer'); %>