<%- include('./partials/head') %>
    <div class="container" id="loginPage">
      <div class="row" id="loginContainer">
        <h2 class="text-center">Sistema de Agendamento de eventos</h2>
        <div class="col">
          <form class="" name="loginForm" action="/login/check" method="POST">
            <div class="form-group m-2">
              <label class="m-2">Usuário</label>
              <input type="text" class="form-control" id="LoginInputUser" placeholder="Digite o usuário" name="user" required>
            </div>
            <div class="form-group m-2">
              <label class="m-2" for="InputPassword">Digite a senha</label>
              <input type="password" class="form-control" id="LoginInputPassword" placeholder="Senha" name="password" required>
            </div>
            <button type="submit" id="loginButton" class="btn btn-primary m-2">Entrar</button>
            <p class="small fw-bold mb-2">Não tem uma conta?<a href="/registration" class="link-danger m-1">Cadastrar</a></p>
          </form>
        </div>
      </div>
    </div>
<%- include('partials/footer'); %>