#agendaBody {
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
}

#calendar {
  max-width: 55%;
  margin: 0 auto;
}

@media only screen and (min-width: 2000px) {
  #calendar {
    max-width: 70%;
  }
}

@media only screen and (min-width: 1750px) {
  #calendar {
    max-width: 65%;
  }
}

@media only screen and (min-width: 1500px) {
  #calendar {
    max-width: 60%;
  }
}

@media screen and (max-width:1500px) { .fc-toolbar.fc-header-toolbar {font-size: 95%} .fc-toolbar-title {font-size: 95%} #calendar {max-width: 75%;}}
@media screen and (max-width:1000px) { .fc-toolbar.fc-header-toolbar {font-size: 70%} .fc-toolbar-title {font-size: 70%} #calendar {max-width: 80%;}}
@media screen and (max-width:767px) { .fc-toolbar.fc-header-toolbar {font-size: 60%} .fc-toolbar-title {font-size: 60%} #calendar {max-width: 85%;}}
@media screen and (max-width:720px) { .fc-toolbar.fc-header-toolbar {font-size: 55%} .fc-toolbar-title {font-size: 50%} #calendar {max-width: 95%;}}
@media screen and (max-width:600px) { .fc-toolbar.fc-header-toolbar {font-size: 45%} .fc-toolbar-title {font-size: 45%} #calendar {max-width: 100%;}}
/*.fc-today-button .fc-prev-button .fc-next-button*/